<html>
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Admin</title>
<style>
.grid-container{
    display: grid;
    grid-template-columns: 200px 1fr;
    grid-template-areas: 
        "sidebar header"
        "sidebar main"
        "sidebar footer";
  grid-gap: 2rem;
}
.header {
  grid-area: header;
}

.main {
  grid-column: main;
}

.sidebar {
  grid-row: sidebar;
}

.footer {
  grid-column: footer;
}
.main{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  grid-row-gap: 2rem;
  padding: 5px;
  margin: 10px;
}

.grid-item {
  background-color: rgba(235, 232, 232, 0.952);
  /* border: 1px solid rgba(0, 0, 0, 0.8); */
  padding:5px;
  font-size: 15px;
  text-align: center;
}
img{
  width: 80px;
  height: 40px;
  margin-right: 180px;
}
.grid-head{
  grid-column: 1/6;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  padding: 5px;
  margin: 10px;
  text-align: center;
}
</style>
</head>

<body>
 
<div class="grid-container">
  <div class="sidebar">
    <%- include('common/sidebar') %>
 </div>
  <div class ="header">
   <%- include('common/header') %> 
  </div>
<div class="main" >

  <div class="grid-head">
    <div class="div">
      <a href="/add"><button class="btn btn-primary">Add Project</button></a>
    </div>
    <div class="div">
      Id
    </div>
    <div class="div">
      Service
    </div>
    <div class="div">
      Client
    </div>
    <div class="div"></div>
  </div>
  
  <% data.forEach(function(i) { %> 
  <div class="grid-item">
    <img src='images/<%= i.image %>' alt="">
  </div>
  <div class="grid-item">
  <p><%= i.id %></p>
  </div>
  <div class="grid-item">
    <p><%= i.title %></p>
  </div>  
  <div class="grid-item">
    <p><%= i.service %></p>
  </div>

  <div class="grid-item">
    <a href="/project/edit/<%= i.id %>"><button class="btn btn-warning">EDIT</button></a>
    <a href="/delete/<%= i.id %>" onClick=" return confirm ('Are you sure you?')"><button class="btn btn-danger">DELETE</button></a>
  </div>
  <% }) %>
</div> 

<div class ="footer mb-3">
  <a href="/"> <button class="btn btn-info">Homepage</button></a>   
 </div>

<!-- <script>
  const forDel = ()=>{
    alert("Project delete successfuly");
  }
</script>         -->
    </body>
</html>