<html>
    <link
        href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css"
        rel="stylesheet"
        integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We"
        crossorigin="anonymous"
    />
    <body class="container">
        <a href="/admin"
            ><button class="btn btn-primary my-3">Go back</button></a
        >
        <p class="my-2 text-xl-center fs-1">Edit Project</p>
        <form action="/project/edit/<%= data.id %>" method="POST">
            <label for="title">Title:</label><br />
            <input
                type="text"
                id="title"
                name="title"
                value="<%= data.title%>"
                class="form-control form-control-sm w-25"
            /><br /><br />

            <label for="service">Service:</label><br />
            <input
                type="text"
                id="service"
                name="service"
                value="<%= data.service%>"
                class="form-control form-control-sm w-25"
            /><br /><br />

            <label for="client">Client:</label><br />
            <input
                type="text"
                id="client"
                name="client"
                value="<%= data.client%>"
                class="form-control form-control-sm w-25"
            /><br /><br />

            <label for="desc">Description:</label><br />
            <textarea
                class="form-control form-control-sm w-25"
                rows="3"
                name="desc"
            >
            <%= data.description%></textarea
            ><br /><br />

            <label for="date">Project date:</label><br />
            <input type="date" id="date" name="date" /><br /><br />

            <label for="image">Image:</label><br />

            <input
                class="form-control form-control-sm w-25"
                id="image"
                type="file"
                name="image"
            /><br /><br />

            <button class="btn btn-success" name="update">Update</button>
        </form>
    </body>
</html>
