<style>
    .grid-container {
        display: grid;
        grid-template-columns: 200px 1fr;
        grid-template-areas:
            "sidebar header"
            "sidebar main"
            "sidebar footer";
        grid-gap: 2rem;
    }
    .header {
        grid-area: header;
    }

    .main {
        grid-column: main;
    }

    .sidebar {
        grid-row: sidebar;
    }

    .footer {
        grid-column: footer;
    }

    .card {
        margin-top: 20px;
        height: 220px;
        padding: 10px;
    }
    .card-img {
        height: 100px;
    }
    .main {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }
</style>

<div class="grid-container">
    <div class="sidebar"><%- include('common/sidebar') %></div>
    <div class="header"><%- include('common/header') %></div>

    <div class="main">
        <% data.forEach(function(i) { %>
        <div class="card" style="width: 15rem">
            <a href="/project/<%= i.id %>"
                ><img src="images/<%= i.image %>" class="card-img" alt=""
            /></a>
            <p>My project Title is : <%= i.title %></p>
            <p>My project Client is : <%= i.client %></p>
        </div>
        <% }) %>
    </div>
    <div class="footer">
        <a href="/admin" class="btn btn-primary">Admin</a>
    </div>
</div>
