<html>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <style>
    .grid-container {
        display: grid;
        grid-template-columns: 200px 1fr;
        grid-template-areas:
            "sidebar header"
            "sidebar main"
            "sidebar footer";
        grid-gap: 2rem;
    }
    .header {
        grid-area: header;
    }

    .main {
        grid-column: main;
    }

    .sidebar {
        grid-row: sidebar;
    }

    .footer {
        grid-column: footer;
    }
    </style>
    <link
    href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css"
    rel="stylesheet"
    integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We"
    crossorigin="anonymous"
/>
   
    <body>
      <div class="grid-container">
        <div class="sidebar"><%- include('common/sidebar') %></div>
        <div class="header"><%- include('common/header') %></div>
    
        <div class="col s12 m7 main">
            <h2 class="head"><%= data.title %></h2>
            <div class="card horizontal">
                <div class="card-image">
                    <img src="/images/<%= data.image %>" />
                </div>
                <div class="grid-item">
                    <p><%= data.description %></p>
                </div>
                <a href="#">This is a link</a>
            </div>
        </div>
        <div class="footer">
            <a href="/" class="btn btn-primary">Home Page</a>

        </div>
    </body>
</html>
